body{
    text-align: center;
}

main{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
}

section{
    display: flex;
    flex-direction: column;
    font: 1em sans-serif;
    justify-content: space-around;
}

img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

section a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}